# Python
__pycache__/
*.py[cod]
*$py.class

# Virtual environment
venv/
.venv/
env/
ENV/

# Django
db.sqlite3
*.sqlite3

# Environment variables / secrets
.env
.env.*

# Django static/media collected files
staticfiles/

# IDE
.vscode/
.idea/

# OS
.DS_Store
Thumbs.db

# Logs
*.log